@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Bucibic";
  src: url(./assets/fonts/Bicubic/Bicubik.OTF);
}

body {
  position: relative;
}

.navlink::after {
  content: " ";
  display: block;
  width: 0px;
  height: 1.5px;
  background: #42307d;
  margin: 0 auto;
  transition: 0.5s;
}

.navlink:hover::after {
  width: 100%;
}
.icon-vector {
  background: url(./assets/icons/vector.svg);

  mask-image: url("./assets/icons/vector.svg");
  -webkit-mask-image: url("./assets/icons/vector.svg");
}
/* 
.icon-chats {
  background: url(./assets/icons/chatsIcon.svg);
  mask-image: url("./assets/icons/chatsIcon.svg");
  -webkit-mask-image: url("./assets/icons/chatsIcon.svg");
}
.icon-liked {
  background: url(./assets/icons/likedIcon.svg);
  mask-image: url("./assets/icons/likedIcon.svg");
  -webkit-mask-image: url("./assets/icons/likedIcon.svg");
}
.icon-shared {
  background: url(./assets/icons/sharedIcon.svg);
  mask-image: url("./assets/icons/sharedIcon.svg");
  -webkit-mask-image: url("./assets/icons/sharedIcon.svg");
}
.icon-global {
  background: url(./assets/icons/globalIcon.svg);
  mask-image: url("./assets/icons/globalIcon.svg");
  -webkit-mask-image: url("./assets/icons/globalIcon.svg");
}

.icon-admin {
  background: url(./assets/icons/adminIcon.svg);
  mask-image: url("./assets/icons/adminIcon.svg");
  -webkit-mask-image: url("./assets/icons/adminIcon.svg");
}

.icon-benefitTarget {
  background: url(./assets/icons/benefitTargetIcon.svg);
  mask-image: url("./assets/icons/benefitTargetIcon.svg");
  -webkit-mask-image: url("./assets/icons/benefitTargetIcon.svg"); }*/
